<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <div id="scrollDiv">
    <ion-list>
	<div class="card" ng-repeat="msg in chat.msgs">
	<!-- from them -->
      <ion-item ng-if="msg.type != 'composing' && msg.from != 'me'" class="item-remove-animate item-text-wrap item-avatar">
        <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
		<p class="text-wrap">{{msg.content}}</p>
		<span ng-if="msg.type != 'composing'"class="timestamp">{{msg.time.day}}/{{msg.time.month}}/{{msg.time.year}} {{msg.time.hours}}:{{msg.time.minutes}}</span>
	  </ion-item>
	  <!-- from you -->
	  <ion-item ng-if="msg.type != 'composing' && msg.from == 'me'" class="item-remove-animate item-text-wrap your-message">
		<p class="text-wrap">{{msg.content}}</p>
		<span ng-if="msg.type != 'composing'"class="timestamp">{{msg.time.day}}/{{msg.time.month}}/{{msg.time.year}} {{msg.time.hours}}:{{msg.time.minutes}}</span>
	  </ion-item>
	  <!-- is typing... -->
	  <span class="composing" ng-if="msg.type == 'composing'"><i>{{msg.content}}</i></span>
	</div>
    </ion-list>
	<br> <!--so that last message doesn't stay behind the footer-->
	<a id="bottom"></a>
	</div>
  </ion-content>
  <div class="bar bar-footer item-input-inset no-horizontal-padding">
    <button ng-click="openPopover($event)" class="button positive button-icon ion-plus"></button>
	<label class="item-input-wrapper">
      <input type="text" placeholder="Enter your text here...">
    </label>
	<button ng-click="test()" id="send" class="button positive button-icon ion-android-send" ></button>
  </div>
</ion-view>
