<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <ion-list>
	<div class="card">
      <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
	  
        <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
		<p>
			{{chat.lastText}}
		</p>
		<span class="timestamp">{{chat.time}}</span>
	  
      </ion-item>
	  </div>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer item-input-inset">
    <button ng-click="openPopover($event)" class="button positive button-icon ion-plus"></button>
	<label class="item-input-wrapper">
      <input type="text" placeholder="Enter your text here...">
    </label>
	<button class="button button-positive" ng-click="test()">
      Enviar
    </button>
  </div>
</ion-view>
