<ion-view view-title="Chats">
  <ion-content>
    <div class="bar bar-header item-input-inset">
	  <button ng-if="monitor" ng-click="showBroadcastPopup()" id="broadcast" class="button positive button-icon ion-radio-waves" ></button>
	  <ion-search placeholder="Procurar" filter="search"></ion-search>
	  <button ng-click="showAddPopup()" id="addUser" class="button positive button-icon ion-person-add" ></button>
	</div>
	<!-- The bar below appears on top of the current header with the search bar and add user button if the user is offline -->
	<div ng-if="!logged" id="offline" class="bar bar-header bar-assertive"><h1 class="title">Você está offline...</h1></div>
	<!-- CARDS W/ 0 LENGTH MESSAGE -->
	<div class="card" style="text-align:center" ng-if="chats.length == 0">
	  <div class="item item-text-wrap">
		Aqui você encontrará os grupos e chats individuais, comece adicionando um usuário.
	  </div>
	</div>
    <ion-list>
	  <div ng-repeat="chat in chats | filter:search.value track by $index">
	  <!-- Below is the normal item for contacts that have accepted your invitation or invited you -->
      <ion-item ng-if="chat.subscription != 'none'" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.jid}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
		<!--
		<span ng-if="chat.status == 'online'" class="status"><i class="ion-record balanced"></i></span>
		<span ng-if="chat.status == 'away'" class="status"><i class="ion-record energized"></i></span>
		<span ng-if="chat.status == 'offline'" class="status"><i class="ion-record assertive"></i></span>
		-->
		<span id="status" ng-if="chat.status == 'online'" class="badge badge-balanced icon-badge"><i ng-if="chat.unread>0">{{chat.unread}}</i><i ng-if="chat.unread==0">-</i></span>
		<span id="status" ng-if="chat.status == 'away'" class="badge badge-energized icon-badge"><i ng-if="chat.unread>0">{{chat.unread}}</i><i ng-if="chat.unread==0">-</i></span>
		<span id="status" ng-if="chat.status == 'offline'" class="badge badge-assertive icon-badge"><i ng-if="chat.unread>0">{{chat.unread}}</i><i ng-if="chat.unread==0">-</i></span>
		
		<!--<span ng-if="!(chat.unread == 0)" class="unread">{{chat.unread}}</span>-->
		<span ng-if="chat.time != ''" class="timestamp">{{chat.time.day}}/{{chat.time.month}}/{{chat.time.year}} {{chat.time.hours}}:{{chat.time.minutes}}</span>

        <ion-option-button class="button-energized" ng-click="openInfo(chat)">
          Sobre
        </ion-option-button>
      </ion-item>
	  <!-- Below is the disabled item for contacts that haven't accepted your invitation -->
	  <ion-item ng-if="chat.subscription == 'none'" class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>Aguardando autorização</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
		<span id="status" class="badge badge-dark icon-badge">-</span>
        <ion-option-button class="button-energized" ng-click="openInfo(chat)">
          Sobre
        </ion-option-button>
      </ion-item>
	  </div>
    </ion-list>
  </ion-content>
</ion-view>
