<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Solicitação de Amizade</div>
      <div class="item item-body">
        <div>
          <b>Miguel</b> te adicionou à lista de contatos.
        </div>
      </div>
	  <div class="item item-divider text-right">
	    <button class="button button-small">
          Cancelar
        </button>
	    <button class="button button-positive button-small">
          Aceitar
        </button>
	  </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Comentário de Abertura</div>
      <div class="item item-body">
        <div>
          O comentário de abertura iniciará em 5 minutos.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Comentário de Fechamento</div>
      <div class="item item-body">
        <div>
          O comentário de fechamento iniciará em 5 minutos.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
