<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div ng-repeat="card in cards" class="list card">
      <div class="item item-divider">{{card.title}}</div>
      <div class="item item-body">
        <div ng-if="card.type == 'subscribe'">
          <b>{{card.name}}</b> te adicionou à lista de contatos.
		  <span class="timestamp">{{card.time.day}}/{{card.time.month}}/{{card.time.year}} {{card.time.hours}}:{{card.time.minutes}}</span>
        </div>
		<div ng-if="card.type == 'broadcast'">
          {{card.text}}
		  <span class="timestamp">{{card.time.day}}/{{card.time.month}}/{{card.time.year}} {{card.time.hours}}:{{card.time.minutes}}</span>
        </div>
      </div>
	  <div ng-if="card.type == 'subscribe'" class="item item-divider text-right">
	    <button class="button button-small" ng-click="cancel(card.jid)">
          Cancelar
        </button>
	    <button class="button button-positive button-small" ng-click="accept(card.jid)">
          Aceitar
        </button>
	  </div>
    </div>
  </ion-content>
</ion-view>
