<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <!-- CARDS W/ 0 LENGTH MESSAGE -->
	<div class="card" style="text-align:center" ng-if="cards.length == 0">
	  <div class="item item-text-wrap">
		Aqui você poderá acompanhar os broadcasts e as solicitações que receber.
	  </div>
	</div>
	<!-- CARDS LIST -->
    <div ng-repeat="card in cards" class="list card">
      <div class="item item-divider">{{card.title}}</div>
      <div class="item item-body">
        <div ng-if="card.type == 'subscribe'">
          <b>{{card.name}}</b> te adicionou à lista de contatos.
        </div>
		<div ng-if="card.type == 'broadcast'">
          {{card.text}} <i>({{card.name}})</i>
        </div>
		<span class="timestamp">{{card.time.day}}/{{card.time.month}}/{{card.time.year}} {{card.time.hours}}:{{card.time.minutes}}</span>
      </div>
	  <div ng-if="card.type == 'subscribe'" class="item item-divider text-right">
	    <button class="button button-small" ng-click="cancel(card)">
          Cancelar
        </button>
	    <button class="button button-positive button-small" ng-click="accept(card)">
          Aceitar
        </button>
	  </div>
	  <div ng-if="card.type == 'broadcast'" class="item item-divider text-right">
	    <button class="button button-small" ng-click="remove(card)">
          Apagar
        </button>
	    <button class="button button-positive button-small" ng-click="open(card.link)">
          Acessar
        </button>
	  </div>
    </div>
  </ion-content>
</ion-view>
