<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
	  <div class="bar bar-header item-input-inset">
	    <ion-search placeholder="Procurar" filter="search"></ion-search>
	  </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats | filter:search.value" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
		
		<span class="timestamp">{{chat.time}}</span>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
