/* Empty. Add your own CSS if you like */
span.timestamp {
	position: absolute;
	right:0.4em;
	bottom: 0.1em;
	font-style: italic;
	font-size: 0.8em;
	color: #AAAAAA;
}

span.status {
	position: absolute;
	right:0.4em;
	top: 0.1em;
}

span.unread {
	position: absolute;
	right:0.73em;
	top: 0.1em;
	font-size: 0.8em;
	color: #FFFFFF;
	font-style: bold;
}

div.no-horizontal-padding {
	padding-right: 0;
	padding-left: 0;
}

#send {
	margin-left: 0;
	margin-right: 0;
}