/* Empty. Add your own CSS if you like */
span.timestamp {
	position: absolute;
	right:0.4em;
	bottom: 0.1em;
	font-style: italic;
	font-size: 0.8em;
	color: #AAAAAA;
}

span.status {
	position: absolute;
	right:0.4em;
	top: 0.1em;
}

span.unread {
	position: absolute;
	right:0.84em; /* 0.73em for win chrome */
	top: 0.15em; /* 0.1em for win chrome */
	font-size: 0.7em; /* 0.8em for win chrome */
	color: #FFFFFF;
	font-style: bold;
}

div.no-horizontal-padding {
	padding-right: 0;
	padding-left: 0;
}

span.composing {
	padding-left: 0.5em;
	font-style: italic;
	color: #AAAAAA;
}

.your-message {
	text-align: right;	
	background-color: #fafaff;
}

.your-timestamp {
	position: absolute;
	left:0.4em;
	bottom: 0.1em;
	font-style: italic;
	font-size: 0.8em;
	color: #AAAAAA;
}

#send {
	margin-left: 0;
	margin-right: 0;
}

#addUser {
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
}

#unauthorized {
	font-size: 0.8em;
	color: red;
	font-weight: bold;
	text-align: center;
}

#offline {
}